---
const links = [
    {href: "/", desc: "Home"},
	{href: "/about/", desc: "About me"},
	{href: "/blog/", desc: "Blog"},
    {href: "/tags/", desc: "Tags"}
];
---

<div class="nav-links">
    { links.map(link => <a href={link.href}>{link.desc}</a>) }
</div>