---
const links = [
    {href: "/", desc: "Home"},
	{href: "/about/", desc: "About me"},
	{href: "/blog/", desc: "Blog"}
];
---

<div class="nav-links">
    { links.map(link => <a href={link.href}>{link.desc}</a>) }
</div>